<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637745875138-lpa6kucfu1qe188o0khgu1v5pmu1l1cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637745875138-lpa6kucfu1qe188o0khgu1v5pmu1l1cu</string>
	<key>API_KEY</key>
	<string>AIzaSyBUQ71HTdwBIgnRMyScvreRaGsgaKBRDt0</string>
	<key>GCM_SENDER_ID</key>
	<string>637745875138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maksim.Haroshka.CurrencyConverterFree</string>
	<key>PROJECT_ID</key>
	<string>converter-2-8a189</string>
	<key>STORAGE_BUCKET</key>
	<string>converter-2-8a189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637745875138:ios:b933244209d4e45276135b</string>
</dict>
</plist>